	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Danh mục khoá học</h2>
				<p>Bạn có thể chọn các danh mục khoá học dưới đây và trải nghiệm các bài học bổ ích của chúng tôi</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<% monhoc.forEach(function(item){%>
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/<%=Math.floor(Math.random() * 6) + 1%>.jpg"></div>
						<div class="ci-text">
							<h5><%=item.MH_TEN %></h5>
							<p><%=item.MH_NOIDUNG%></p>
							<span><a href="/khoahoc"><%=item.KH_SOLUONG %> Khoá học</a></span>
						</div>
					</div>
				</div>
				<%})%>
			</div>
		</div>
	</section>
	<!-- categories section end -->