	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item">
						<h4>Thông tin liên lạc</h4>
						<ul class="contact-list">
							<li>Trụ sở Hoà Bình<br>Trung tâm liên minh nhóm 2</li>
							<li>+843 6789 6040</li>
							<li>nhom2@dlu.edu.vn</li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Giáo viên hướng dẫn</h4>
						<ul>
							<li><a href="">Lê Gia Công</a></li>
							<li><a href="">Môn học: Lập trình web nâng cao</a></li>
							<li><a href="">Năm 4</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Thành viên nhóm</h4>
						<ul>
							<li><a href="">1510198 Nghiêm Xuân Hiếu</a></li>
							<li><a href="">1510191 Đàm Đức Duy</a></li>
							<li><a href="">1512952 Nguyễn Hữu Tĩnh</a></li>
							<li><a href="">1510203 Nguyễn Mạnh Hùng</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Danh sách liên kết môn học</h4>
						<ul>
							<li><a href="">Đồ hoạ</a></li>
							<li><a href="">Mã nguồn mở</a></li>
							<li><a href="">Lập trình web</a></li>
							<li><a href="">Mạng</a></li>
							<li><a href="">Bảo trì máy tính</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Phản hồi</h4>
						<form class="footer-newslatter">
							<input type="text" placeholder="Nội dung">
							<button type="submit" class="site-btn">Gửi</button>
							<p>Cảm ơn bạn!</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Liên hệ</a></li>
					<li><a href="#">Tin tức</a></li>
					<li><a href="#">Đăng ký</a></li>
				</ul>
				<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> Mọi thứ được kiểm soát thông qua cơ sở <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://cntt.dlu.edu.vn" target="_blank">Đại học Đà Lạt</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
			</div>
		</div>
	</footer> 
	<!-- footer section end -->