<!-- Header section -->
<header class="header-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="site-logo">
					<img src="img/logo.png" alt="">
				</div>
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
			</div>
			<div class="col-lg-9 col-md-9">
				<a href="/dangnhap" class="site-btn header-btn" data-toggle="modal" data-target="#myModal">Đăng nhập</a>
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Modal Header</h4>
							</div>
							<div class="modal-body">
								<p>Some text in the modal.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>

					</div>
				</div>

				<nav class="main-menu">
					<ul>
						<li><a href="/trangchu">Trang chủ</a></li>
						<li><a href="/khoahoc">Khoá học</a></li>
						<li><a href="/tintuc">Tin tức</a></li>
						<li><a href="/lienhe">Liên hệ</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- Header section end -->