<!-- search section -->
<section class="search-section ss-other-page">
    <div class="container">
        <div class="search-warp">
            <div class="section-title text-white">
                <h2><span>Tìm khoá học của bạn</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!-- search form -->
                    <form action="/khoahoc" class="course-search-form" method="GET">
                        <input type="text" placeholder="Khoá học" name="khoahoc">
                        <input type="text" class="last-m" placeholder="Môn học" name="monhoc">
                        <input type="submit" class="site-btn btn-dark" value="Tìm khoá học"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search section end -->