<!-- search section -->
<section class="search-section ss-other-page">
    <div class="container">
        <div class="search-warp">
            <div class="section-title text-white">
                <h2><span>Tìm khoá học của bạn</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!-- search form -->
                    <form class="course-search-form">
                        <input type="text" placeholder="Khoá học">
                        <input type="text" class="last-m" placeholder="Môn học">
                        <button class="site-btn btn-dark">Tìm khoá học</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search section end -->