	<!-- signup section -->
	<section class="signup-section spad">
		<div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Đăng kí phỏng vấn cho giáo viên</h2>
							<p>Nếu bạn có kiến thức tốt và tự tin về trình độ của mình. Đừng ngại đăng ký. Vượt qua các bài thử thách của chúng tôi đồng nghĩa với việc bạn được công nhận là một trong những giáo viên giỏi nhất</p>
						</div>
						<!-- signup form -->
						<form class="signup-form">
							<input type="text" placeholder="Tên bạn">
							<input type="text" placeholder="E-mail">
							<input type="text" placeholder="SĐT">
							<button class="site-btn">Đăng ký ngay</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->