<!DOCTYPE html>
<html lang="en">

<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
		rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/style.css" />


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include _header%>
	<!-- Header section end -->


	<!-- Page info -->
	<%include _pageinfo%>
	<!-- Page info end -->
	<!-- search section -->
	<% include _search %>
	<!-- search section end -->
	<div class="container" style="padding-top: 20px">
		<!-- Tabs -->
		<div class="tab-element">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active show" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
						aria-selected="false">Thông tin cá nhân</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
						aria-selected="false">Thời khoá biểu </a>
				</li>
				<li class="nav-item">
					<a class="nav-link " id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
						aria-selected="true">Vivamus sollici</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<!-- single tab content -->
				<div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
					<p>Tên: <%= session.name%></p>
				</div>
				<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
					<div class="table-responsive-md">
						<table class="table table-striped">
							<thead>
							  <tr>
								<th scope="col">#</th>
								<th scope="col">Thứ 2</th>
								<th scope="col">Thứ 3</th>
								<th scope="col">Thứ 4</th>
								<th scope="col">Thứ 5</th>
								<th scope="col">Thứ 6</th>
								<th scope="col">Thứ 7</th>
								<th scope="col">Chủ Nhật</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<th scope="row">Sáng</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
								<td>@mdo</td>
							  </tr>
							  <tr>
								<th scope="row">Chiều</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
								<td>@mdo</td>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							  </tr>
							  <tr>
								<th scope="row">Tối</th>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
								<td>@mdo</td>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
							  </tr>
							</tbody>
						  </table>
					  </div>
				</div>
				<div class="tab-pane fade " id="tab-3" role="tabpanel" aria-labelledby="tab-3">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque,
						at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- signup section end -->



	<!-- footer section -->
	<%include _footer%>
	<!-- footer section end -->


		<!--====== Javascripts & Jquery ======-->
		<% include _javascripts.ejs%>


	<!-- load for map -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTIlluowDL-X4HbYQt3aDw_oi2JP0Krc&sensor=false"></script>
	<script src="js/map.js"></script>
</body>

</html>